.form_container{
display: flex;
/* align-items: center; */
place-items: center;
justify-content: center;
}

.cart_container{
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   place-items: center;
   justify-content: center;
   gap: 1rem;
    
}

.cart_button{
    background-color:  rgb(209, 170, 62);;
    padding: 1rem;
    width: 30%;
    align-items: center;
    place-items: center;
    border-radius: 0.9rem;
    border-color: transparent;
}