.viewCart_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin-top: 20px;
    margin-left: 12rem;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #e6e6e6;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.total {
    font-weight: bold;
    text-align: right;
    padding-right: 8px;
}